<div class= "row">
<br>
<section class="small-6 small-centered columns">
<div class= "panel">
<h1>Editing movie</h1>

<%= render 'form' %>
<div class="button">
<%= link_to '<font color = "white" >Show</font>'.html_safe, @movie %> |
<%= link_to '<font color = "white" >Back</font>'.html_safe, movies_path %>
</div>

</div>
</section>
</div>
