<div class= "row">
<br>
<section class="small-6 small-centered columns">
<div class= "panel">
<span class="label"><h1>Editing movie</h1></span>

<%= render 'form' %>
<div class="button">
<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>
</div>

</div>
</section>
</div>
