<div class ="row">
<a href="/movies/film" class="button [radius round]">Movies</a>
<div class="panel">
<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">VIP</a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Trailer</a></dd>
        <dd><a href="#panel2-2">Production</a></dd>
        <dd><a href="#panel2-3">First-day</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>
          <ul class="small-block-grid-2">
          <li><iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe></li>
          <li><iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe></li>
          </ul>
          </p>
        </div>
        <div class="content" id="panel2-2">
          <p>Second panel content goes here...</p>
        </div>
        <div class="content" id="panel2-3">
          <p>Third panel content goes here...</p>
        </div>
      </div>
    </div>
  </dd>
  <dd>
    <a href="#panel2">BILLA</a>
    <div id="panel2" class="content">
     <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Trailer</a></dd>
        <dd><a href="#panel2-2">Production</a></dd>
        <dd><a href="#panel2-3">First-day</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>
          <ul class="small-block-grid-2">
          <li><iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe></li>
          <li><iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe></li>
          </ul>
          </p>
        </div>
        <div class="content" id="panel2-2">
          <p>Second panel content goes here...</p>
        </div>
        <div class="content" id="panel2-3">
          <p>Third panel content goes here...</p>
        </div>
      </div>
    </div>
  </dd>
  <dd>
    <a href="#panel3">VEERAM</a>
    <div id="panel3" class="content">
     <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Trailer</a></dd>
        <dd><a href="#panel2-2">Production</a></dd>
        <dd><a href="#panel2-3">First-day</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>
          <ul class="small-block-grid-2">
          <li><iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe></li>
          <li><iframe width="420" height="315" src="" frameborder="0" allowfullscreen></iframe></li>
          </ul>
          </p>
        </div>
        <div class="content" id="panel2-2">
          <p>Second panel content goes here...</p>
        </div>
        <div class="content" id="panel2-3">
          <p>Third panel content goes here...</p>
        </div>
      </div>
    </div>
  </dd>
</dl>
</div>
</div>
