<div class="row">
<br>
<section class="small-8 columns">
<div class="panel">


<ul class="example-orbit" data-orbit>
  <li><br>
    <img src="/images/4.jpg" alt="slide 1" />
    
  </li>
  <li class="active"><br>
    <img src="/images/7.jpg" alt="slide 2" />
    
  </li>
  <li><br>
    <img src="/images/4.jpg" alt="slide 3" />
    
  </li>
</ul>
</div>
</section>

<section class="small-4 columns">
<div class ="panel">
<ul class="side-nav">
<h2> New Movie </h2>
  <li><a href="#">VIP</a></li>
  <li><a href="#">BILLA</a></li>
  <li><a href="#">VEERAM</a></li>
  <li><a href="#">JILLA</a></li>

<h2> Coming Soon </h2>
  <li><a href="#">Netru Indru</a></li>
  <li><a href="#">Vada Curry(Kulfi)</a></li>
  <li><a href="#">Jigarthanda</a></li>
  <li><a href="#">Kaaviya Thalaivan</a></li>  
</ul>

</div>
</section>
</div>