<div class="row">
<br>
<section class="small-8 columns">
<ul class="example-orbit" data-orbit>
  <li><br>
    <img src="/images/4.jpg" alt="slide 1" />
  </li>
  <li class="active"><br>
    <img src="/images/7.jpg" alt="slide 2" />
  </li>
  <li><br>
    <img src="/images/4.jpg" alt="slide 3" />
  </li>
</ul>
</section>

<%= render 'home/panel1' %>

</div>