<section class="small-4 columns">
<div class ="panel">
<ul class="side-nav">
<h2> New Movies </h2>
  <li><a href="#">VIP</a></li>
  <li><a href="#">BILLA</a></li>
  <li><a href="#">VEERAM</a></li>
  <li><a href="#">JILLA</a></li>
  <li class ="divider"></li>
  <li><a href="#">See more titles >> </a></li>
<li class ="divider"></li>
<h2> Coming Soon </h2>
  <li><a href="#">Netru Indru</a></li>
  <li><a href="#">Vada Curry(Kulfi)</a></li>
  <li><a href="#">Jigarthanda</a></li>
  <li><a href="#">Kaaviya Thalaivan</a></li>  
  <li class ="divider"></li>
  <li><a href="#">See more titles >> </a></li>
</ul>
</div>
</section>