<div class="row">
<div class="panel">

<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1"><span class="label"><h1>NewsDesk</h1></span></a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Top News</a></dd>
        <dd><a href="#panel2-2">Movie News</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>First panel content goes here...</p>
        </div>
        <div class="content" id="panel2-2">
          <p>Second panel content goes here...</p>
        </div>
      </div>
    </div>
  </dd>
</dl>
</div>
</div>

