<div class ="row"><br>
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1">NOW PLAYING</a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Mundasupatti (U)-Tamil</a></dd>
        <dd><a href="#panel2-2">Vadacurry (U)- Tamil</a></dd>
        <dd><a href="#panel2-3">Saivam (U)- Tamil</a></dd>
        <dd><a href="#panel2-4">Enna Satham Indha Neram (U)-Tamil</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>Mundasupatti is a 2014 Tamil adventure comedy film directed by Ram starring Vishnu and Nandita. Produced by Thirukumaran Entertainments' C. V. Kumar in association with Fox Star Studios, it features music by Sean Roldan, editing by Leo John Paul and camerawork by P. V. Sankar.</p>
          <!-- Triggers the modals -->
<a href="#" data-reveal-id="firstModal" class="radius button">Click here for Showtime&hellip;</a>
<a href="#" data-reveal-id="videoModal" class="radius button">Click here for Movie Trailer&hellip;</a>

<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal>
  <h2>Mundasupatti (U)-Tamil</h2>
  <hr/>
  <pre>
  <h3>Screen      : D-Lounge</h3>
  <h3>ShowTime : Matinee (3:15 PM)</h3>
  <h3>Amount     : Rs.110</h3>
  </pre>
  <center><p><a href="#" data-reveal-id="secondModal" class="button">Book Now</a></p></center>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal>
  <h2>Tickets</h2>
  <hr/>
  <center>
 <section class="small-6 small-centered columns">
 <table>
  <tr><td>Date  :</td><td><input type = "date"></td></tr>
  <tr><td>Seats :</td><td><input type = "number"></td></tr>
 </table>
 </section> 
  <a class="close-reveal-modal">&#215;</a>
  <p><a href="/showtime/tickets" class="button">Pay</a></p>
  </center>
</div>

<div id="videoModal" class="reveal-modal large" data-reveal>
  <h2>Mundasupatti-Trailer</h2>
  <div class="flex-video">
    <iframe width="420" height="315" src="https://www.youtube.com/watch?v=NjwnL6jrtuw" frameborder="0" allowfullscreen></iframe>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Reveal Modals end -->
        </div>
        <div class="content" id="panel2-2">
          <p>vadacurry...</p>
        </div>
        <div class="content" id="panel2-3">
          <p>Saivam...</p>
        </div>
        <div class="content" id="panel2-4">
          <p>Enna Satham Indha Neram...</p>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel2">COMING SOON</a>
    <div id="panel2" class="content">
      comming soon...
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel3">PRE-RELEASE</a>
    <div id="panel3" class="content">
      pre-release...
    </div>
  </dd>
</dl>
</div>