

<div class= "row">
<br>
  <center><h1> IMDb Top 250 </h1></center>
  <section class="small-6 small-centered columns">
      <table>
      <thead>
          <tr>
            <th>Movie-Id </th>  
            <th>Movie</th>
            <th>Year</th>
          </tr>
      </thead>
        <tbody>
  
        <% @list1.each do | movie | %>
          <tr>          
             <td><%= movie.imdb_id %></td>
             <td><a href="http://www.imdb.com/title/tt<%= movie.imdb_id %>/?ref_=chttp_tt_"><%= movie.title %></a></td>
             <td><%= movie.year %> </td>
          </tr>
         <% end %>
  
  
        </tbody>
      </table>
  </section>
</div>

