<div class="row"><br>
<div class="panel">
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1"><h1>PHOTOS</h1></a>
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Latest Stills</a></dd>
        <dd><a href="#panel2-2">Latest Posters</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
        <center><h1>Click on the image to open the photo gallery</h1></center>
<div class="panel">
<ul class="clearing-thumbs small-block-grid-4" data-clearing>
  <li><a href="/images/1.jpg"><img data-caption="ajith" src="/images/1.jpg"></a></li>
  <li><a href="/images/4.jpg"><img data-caption="ajith" src="/images/4.jpg"></a></li>
  <li><a href="/images/10.jpg"><img data-caption="ajith" src="/images/10.jpg"></a></li>
  <li><a href="/images/4.jpg"><img data-caption="ajith" src="/images/4.jpg"></a></li>
  <li><a href="/images/10.jpg"><img data-caption="ajith" src="/images/10.jpg"></a></li>
  <li><a href="/images/1.jpg"><img data-caption="ajith" src="/images/1.jpg"></a></li>
</ul>
</div>
        </div>
        <div class="content" id="panel2-2">
        <center><h1>Click on the image to open the photo gallery</h1></center>
<div class="panel">
<ul class="clearing-thumbs small-block-grid-4" data-clearing>
  
  <li><a href="/images/10.jpg"><img data-caption="ajith" src="/images/10.jpg"></a></li>
  <li><a href="/images/10.jpg"><img data-caption="ajith" src="/images/10.jpg"></a></li>
  <li><a href="/images/10.jpg"><img data-caption="ajith" src="/images/10.jpg"></a></li>
  
</ul>
</div>
        </div>
      </div>
    </div>
  </dd>
</dl>
</div>
</div>