<ul data-orbit="">
  <li><img src="http://placehold.it/1800x350/0079a1/ffffff&text=IMDB-TAMIL"></li>
  <li><img src="http://placehold.it/1800x350/0079a1/ffffff&text=foundation-rails"></li>
  <li><img src="http://placehold.it/1800x350/0079a1/ffffff&text=foundation-rails"></li>
</ul>
